HackerNewsReader/HackerNewsReader.xcodeproj/xcuserdata/spetrachkov.xcuserdatad
HackerNewsReader/HackerNewsReader.xcodeproj/HackerNewsReader.xcworkspace/xcuserdata/spetrachkov.xcuserdatad
HackerNewsReader/HackerNewsReader.xcodeproj/project.xcworkspace/xcuserdata/spetrachkov.xcuserdatad
HackerNewsReader/HackerNewsReader.xcodeproj/project.xcworkspace/xcuserdata/sergey.xcuserdatad
HackerNewsReader/HackerNewsReader.xcodeproj/xcuserdata
